* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.layout {
    width: 100%;
    display: grid;
    min-height: 100dvh;
    grid: 
    "header header header" auto 
    "leftSide body ." 1fr 
    "footer footer footer" auto / auto 1fr auto;
    gap: 8px;
}

body {
    background-color: #f4f4f4;
}

.header {
    grid-area: header;
    background-color: #043c54;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

#Inicio,
#Cursos,
#Estudiantes,
#Profesores {
    transition: background-color 0.5s ease;
}

#Inicio:hover,
#Cursos:hover,
#Estudiantes:hover,
#Profesores:hover {
    background-color: rgb(69,194,188);
}

.leftSide {
    grid-area: leftSide;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
a {
    color: rgb(69,194,188);
    transition: color 0.3s ease;
}

a:hover {
    color: #043c54;
}

.body {
    grid-area: body;
}

h2
{
    color: #043c54;
    margin-top: 20px;
}
.overlay {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y semitransparente */
  z-index: 1000; /* Asegura que esté sobre el contenido */
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el pop-up */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001; /* Sobre el overlay */
}

/* Estilos adicionales para el contenido */
.popup h2 {
  margin-top: 0;
}

/* Clase para mostrar el pop-up */
.overlay.active {
  display: block;
}

.btn-registrar{
    margin-top: 20px;
    background-color: #043c54 !important;
    border: none;
    color: #ffffff;
}

.btn-registrar:hover{
    background-color: rgb(69,194,188) !important;
}

.footer {
    grid-area: footer;
    background-color: #043c54;
    padding: 12px 0;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}